cmake_install.cmake
cmake_uninstall.cmake
Makefile
CTestTestfile.cmake
CMakeFiles/
CMakeLists.txt.user*
*.so
*.so.*
*.dylib
*.vcproj
*.ncb
*.sln
*.suo
*.user
.*
!.github/workflows/
*~
/CMakeCache.txt
/Doxyfile
/config.h
/taglib.pc
/tests/test_runner
/tests/Testing
/taglib/libtag.a
/taglib_config.h
/taglib-config
/bindings/c/libtag_c.a
/bindings/c/taglib_c.pc
/bindings/c/Debug
/bindings/c/MinSizeRel
/bindings/c/Release
/bindings/c/tag_c.dir/Debug
/bindings/c/tag_c.dir/MinSizeRel
/bindings/c/tag_c.dir/Release
/examples/framelist
/examples/strip-id3v1
/examples/tagreader
/examples/tagreader_c
/examples/tagwriter
/doc/html
/taglib/Debug
/taglib/MinSizeRel
/taglib/Release
/taglib/tag.dir/Debug
/taglib/tag.dir/MinSizeRel
/taglib/tag.dir/Release
/ALL_BUILD.dir
/ZERO_CHECK.dir
taglib.h.stamp
taglib.xcodeproj
CMakeScripts
/.clang-format
/compile_commands.json
/build/
.clangd
.cache
.idea

ALL_BUILD.vcxproj

ALL_BUILD.vcxproj.filters

bindings/c/INSTALL.vcxproj

bindings/c/INSTALL.vcxproj.filters

bindings/c/tag_c.vcxproj

bindings/c/tag_c.vcxproj.filters

bindings/INSTALL.vcxproj

bindings/INSTALL.vcxproj.filters

Continuous.vcxproj

Continuous.vcxproj.filters

DartConfiguration.tcl

docs.vcxproj

docs.vcxproj.filters

Experimental.vcxproj

Experimental.vcxproj.filters

INSTALL.vcxproj

INSTALL.vcxproj.filters

Nightly.vcxproj

Nightly.vcxproj.filters

NightlyMemoryCheck.vcxproj

NightlyMemoryCheck.vcxproj.filters

taglib-config.cmd

taglib/tag.vcxproj

taglib/tag.vcxproj.filters

uninstall.vcxproj

uninstall.vcxproj.filters
